form{
    background: white;
    border: 2px solid black;
    width: 350px;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
}

h1 {
    text-align: center  ;
}
