footer{
    background-color: #4A536b;
    display: flex;
    flex-direction: row;
    gap: 100px;
    width : 100%;
}

footer > .gauche {
    color : #ff9a8d;
    margin: 50px;
}

footer > .centre{
    color: #aed6dc;
}

